
* {
	margin: 0;
	padding: 0;
	font-family: Helvetica;
	font-weight: 400;
}

#title {
	color: #3B3B98;
	text-align: center;
	margin: 20px 0 0 0;
}

#scoreboard {
	display:  flex;
	align-items: center;
	justify-content: center;
}

#player, #npc{
	position: relative;
	flex-grow: 1;
	border-radius: 5px;
	margin: 30px;
	width: 200px;
	padding: 30px;
	color: #fff;
}

#player {
	background-color: #ff4d4d;
}

#npc {
	background-color: #ffaf40;
}

#versus {
	font-size: 40px;
	text-align: center;
	width: 70px;
}

#player-name, #npc-name {
	margin: 0;
	padding: 0;
}

#jogador-nome {
	text-align: left;
}

#npc-name {
	text-align: right;
}

#player-points, #npc-points {
	position: absolute;
	top: 8px;
	font-size: 32px;
}

#player-points {
	right: 35px;
}

ul#player-choice, ul#npc-choice {
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

ul#player-choice li, ul#npc-choice li {
	display: inline;
}

ul#player-choice li a, ul#npc-choice li a {
	opacity: .2;
}

ul#player-choice li a:hover, ul#player-choice li a.selected, ul#npc-choice li a.selected {
	opacity: 1;
}

ul#jogador-escolha li a, ul#npc-choice li a {
	max-width: 80px;
}

#messages{
	background-color: #c7ecee;
	font-size: 32px;
	border-radius: 5px;
	margin: 30px;
	padding: 20px;
}
